DATABASE_URL="postgresql://archive:archive@postgres:5432/archive?schema=public"

TWITCH_CLIENT_ID=""
TWITCH_CLIENT_SECRET=""
TWITCH_EVENTSUB_USER_TOKEN=""
TWITCH_EVENTSUB_USER_ID=""
TWITCH_BOT_USERNAME=""
TWITCH_BOT_OAUTH=""
TWITCH_CHANNELS=" "
WTV_CHANNELS="kingkong_movie,mishamedvedka"

TELEGRAM_BOT_TOKEN=""
TELEGRAM_STORAGE_CHAT_ID=""
TELEGRAM_PUBLIC_CHANNEL_ID=""
TELEGRAM_DELETED_CHANNEL_ID=""
TELEGRAM_ALLOWED_USER_IDS=""
TELEGRAM_PUBLIC_BOT_TOKEN=""
TELEGRAM_PRIVATE_STREAMER_LOGINS=""

TWITCH_CHAT_MESSAGE_RETENTION_MINUTES="120"
MAX_IMAGE_BYTES="10485760"
MAX_VIDEO_BYTES="104857600"
MAX_DAILY_DOWNLOAD_BYTES="10737418240"
MAX_PARALLEL_DOWNLOADS="2"
ALLOW_PRIVATE_MEDIA_HOSTS="false"
ENABLE_PLATFORM_DOWNLOADS="true"
MAX_PLATFORM_VIDEO_SECONDS="300"
PLATFORM_DOWNLOAD_TIMEOUT_MS="600000"
NSFW_MAX_FRAMES="8"
NSFW_ENSEMBLE_CLASSIFIER_URL="http://nsfw-ensemble:3333/classify"
NSFW_ENSEMBLE_THRESHOLD="0.8"
